@import url('https://fonts.googleapis.com/css?family=Montserrat');
//Vars
$Path : "/peugeot/208";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  input[type="button"] {
    outline: none;
  
  }
  a {
    text-decoration: none;
  }
  .maxWidthAvailable {
   /* max-width: 1366px;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .showBlock{
    display: none;
  }
  .hideDiv {
    display: none;
  }
  .showDiv {
    display: block;
  }
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  html {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0 auto;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
  }
  /* HEADER */
  #header-container {
    height: 100px;
    width: 200px;
    border-radius: 50% / 100% 100% 0 0;
    background: white;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);
    position: fixed;
    left: 42%;
    top: 0px;
    z-index: 12;
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
  }
  
  #header-container img {
    margin: 30px 60px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);
  }
  /* CONTENDIO */
  #body-container {
    margin: 0 auto;
  }

  .background208 {
    background: #cc2b00;
  }
  .sidea {
    background: #cc2b00;
    height: auto;
    position: relative;
    text-align: center;
  }
  
  .sidea span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    letter-spacing: 2px;
    color: #752a2a;
  }
  .sidea hr {
    width: 60px;
    margin:60% 0 0 0;
    border: 0;
    height: 0;
    border-top: 1px solid white;
  }
  .sidea div {
    font-size: 200px;
    position: absolute;
    left:25%;
    top: 40%;
    color: #752a2a; /*Eliminar cuando tenga la imagen*/
  }
  
  .sideb {
    background: rgb(186, 186, 186);
    height: auto;
    position: relative;
    text-align: center;
  }
  .sideb  span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    letter-spacing: 2px;
    color: gray;
  }
  .sideb hr {
    width: 60px;
    margin:60% 0 0 92%;
    border: 0;
    height: 0;
    border-top: 1px solid white;
  }
  .sideb div {
    font-size: 200px;
    position: absolute;
    left:25%;
    top: 40%;
    color: gray; /*Eliminar cuando tenga la imagen*/
  }
  
  /* FOOTER */
  
  #logo-footer {
    height: 90px;
    width: 160px;
    border-radius: 50% / 100% 100% 0 0;
    background: white;
    position: fixed;
        left: 44%;
        bottom:0; 
        z-index: 12;
    text-align: center;
    padding: 20px 25px;
    cursor: pointer;
    border: 0px;
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,1);
    font-weight: 900;
    font-style:italic;
  }
  #logo-footer span {
    color:#0a0a9a;
    font-size: 13px;
  }
  #footer-container {   
    position: fixed;
    background: white;
    height: 380px;
    bottom: 0%;
    width: 100%;
    display: none;
    z-index: 12;
  }
  
  /*Formulario*/
  div.content-form {
    backface-visibility: blue;
    padding: 50px 10px;
    text-align: left;
    height: 300px;
  }
  div.content-form.sideleft {
    padding-left: 12%;
  }
  div.content-form.sideright {
    padding-right: 12%;
  }
  div.content-form p {
    color:rgb(140, 140, 140);
    font-size: 13px;
    padding: 12px 0px;
  }
  #btn-form {
    text-align: center;
  }
  
  .btn-pruebamanejo {
    opacity: 1;
    border-width: 0px;
    border-radius: 2px;
    border-color: rgb(53, 126, 189);
    border-style: solid;
    background-color: rgb(0, 98, 196);
    color:white;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 13px;
  }
  
  #btn-link {
    text-align: center;
    margin: 15px 0;
  }
  
  .btn-cotiza {
    font-size: 13px;
    color: rgb(0, 98, 196);
  }
  .campoladob {
    padding: 20px 0;
  }
  .campoladoc {
    margin: 20px 0;
  }
  .campolado {
    float:left;
    width: 50%;
    padding: 20px 0;
  }
  .campolado label, .campo label {
    color:rgb(140, 140, 140);
    font-size: 13px;
    padding: 20px 0;
  }
  .campo {
    width: 100%;
    padding: 10px 0;
  }
  
  input {
    border: 1px solid rgb(140, 140, 140);
    margin-top:5px;
  }
  
  select {
    width: 100%;
    height: 35px;
    color:  rgb(140, 140, 140);
    font-size: 15px;
    padding-left:10px;
    margin-top:5px;
    border: 1px solid rgb(140, 140, 140);
    background: white;
    font-weight: 900;
  }
  
  input[name=fname] {
    width: 220px;
    height: 35px;
  
  }
  input[type=radio], input[type=checkbox] {
    width: 20px;
    float:left;
  }
  input, input[name=fapellido] {
    width: 100%;
    height: 35px;
    color:  rgb(0, 95, 198);
    font-size: 15px;
    padding-left:10px;
  }
  input:focus {
    border: 1px solid rgb(0, 95, 198);
    color:  rgb(0, 95, 198);
    font-size: 15px;
    padding-left:10px;
  }
  .radioBtn {
    float: left;
    width: 50%;
    margin-top: -25px;
  }
  .radioBtn label {
    float:left;
    padding:17px 0 0 5px;
    font-weight: bold;
    font-size: 15px;
  }
  
  /*HOME CARS*/
  .container-shadow {
    background-image: url(../app/content/img/sombra208.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .container-shadowb {
    background-image: url(../app/content/img/sombra301.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .imgCar {
    width: 100%;
    display: block;
    position: absolute;
    margin: -17% 0%;
  }
  .imgCar208 {
    display: block;
    width: 100%;
    position: absolute;
    margin: -3% -5%;
  }
  .titleCars {
    width: 100%;
    height: auto;
    padding: 30% 0 0;
  }
  
  .titleHomea {
    width:90%;
    height: auto;
    padding: 20% 0 0;
  }
  .titleHomeb {
    width:95%;
    height: auto;
    padding: 30% 0 0;
  }
  .sidea .borderHome {
    width: 50px;
    position: absolute;
    z-index: 9;
    left:0;
    top:55%;
    border: 1px solid white;
  }
  .sideb .borderHome {
    width: 50px;
    position: absolute;
    z-index: 9;
    left:92%;
    top:55%;
    border: 1px solid white;
  }
  /*Button Cars*/
 div.button-container {
  display: block;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 9;
  top:50%;
  left: 0;
}

  #btnCar .button-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
    top:50%;
    left: 0;
  }
  
  div.shadow-button {
    background: white;
    position: absolute;
    top:-45px;
    left:0;
    z-index: 8;
    opacity: .3;
    width: 80px; 
    height: 160px; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
  }
  div.shadow-button:hover {
    width: 90px; 
  }
  .button-container p {
    font-family: 'PeugeotFont';
    font-size: 12px;
    color: white;
    font-style: italic;
    padding: 5px 0px 3px 5px;
  }
  .button-container .parrafo-button {
    font-family: 'PeugeotFont';
    font-weight: 900;
    padding: 5px 0px 0px 25px;
  }
  #btnCar.button-containerb {
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 9;
    top:50%;
    right: 0;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }
  .menu-parrafo {
    border-bottom: 1px solid white;
    width: 70px;
  }
  .button-containerb p {
    font-family: 'PeugeotFont';
    font-size: 12px;
    color: white;
    font-style: italic;
    padding: 5px 5px 3px 5px;
  }
  .button-containerb .menu-parrafo {
    border-bottom: 1px solid white;
    width: 100px;
    text-align: right;
    margin-left:40%;
  }
  .button-containerb .shadow-button {
    background: white;
    z-index: 8;
    opacity: .3;
    width: 100px; 
    height: 160px; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);
  }
  
  .button-containerb .shadow-button:hover {
    left:18%;
  }
  .button-containerb .parrafo-button {
    font-weight: 900;
    font-size: 11px;
    padding: 5px 5px 0px 0px;
  }

  /*PEOGEUT 208*/
 .car-container {
    background-image: url('../app/content/img/background208.png');
    background-repeat: no-repeat;
     /* Set a specific height */
     min-height: 850px; 

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .exterior208-container {
    background-image: url('../app/content/img/exteriorShandow.png');
    background-repeat: no-repeat;
     /* Set a specific height */
     min-height: 850px; 

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }
  .mini-titleExterior {
    padding: 0 0 0 30%;
  }
  .interior-container {
    background: black;
    background-repeat: no-repeat;
     /* Set a specific height */
     min-height: 850px; 

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .titleMax208 {
    width: 85%;
    padding: 10% 0 5% 15%;
  }
  .minititle {
    position: absolute;
    z-index: 9;
    top:30%;
    left:50%;
    width: 35%;

  }
  .carImage {
    width: 50%;
    position: absolute;
    z-index: 9;
    top:28%;
    left:25%;
  }

  .carImageExterior {
    width: 50%;
    position: absolute;
    z-index: 9;
    top:28%;
    left:45%;
  }
  .description-exterior {
    width: 28%;
    position: absolute;
    z-index: 9;
    top:28%;
    left:22%;
    color:white;
    font-size:13px;
  }
  .description-exterior p {
    margin: 5% 0;
    text-align: justify;
  
  }

  .button-containerc {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
    top:50%;
    right: .5%;
    text-align: right;
  }
  .button-containerc .shadow-button {
    background: white;
    position: absolute;
    top:-45px;
    left:26%;
    z-index: 8;
    opacity: .5;
    width: 100px; 
    height: 160px; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);
  }
  .button-containerc p {
    font-family: 'PeugeotFont';
    font-size: 12px;
    color: white;
    font-style: italic;
    padding: 5px 0px 3px 5px;
  }
  .button-containerc .shadow-button:hover {
    left:18%;
  }

  /*Menu*/

  #menu {
    font-family: 'PeugeotFont',Arial, Helvetica, sans-serif;
  }
  .container-menu {
    display: block;
    width: 300px;
    height: auto;
    position: fixed;
    z-index: 9;
    top:30%;
    left: -5px;
  }
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10% 0 5% 0;
    overflow: hidden;
  }
  #menu ul li {
    padding: 10px;
  }
  #menu ul li p {
    border: .5px solid white;
    width: 50px;
  }
  #menu ul li a {
    font-size: 12px;
    color:white;
    padding-left: 20px;
    text-decoration: none;
  }
  #menu ul li a.active {
    padding-left: 50px;
    font-size: 13px;
  }
  #menu ul li a:hover {
    padding-left: 50px;
  }
  /*BOTONES ICONOS*/
  div#optionsIcons.container-buttons-options {
    position: fixed;
    bottom: 10%;
    left: 0;
    z-index: 9;
    width: 300px;
    height: auto;
    padding: 0 0 0 5%;
  }

  .container-buttons-options .ico {
    float: left;
    padding: 5px;
    cursor: pointer;
  }
  .dieselImg {
    position: absolute;
    top:90%;
    left: 25%;
    z-index: 9;
  }


  .nodisplay {
    display: none;
  }


  /*ICONS INFO*/
  div#iconsInfo {
    width: 100%;
    max-width: 800px;
    position: fixed;
    color:white;
    font-family: 'PeugeotFont', 'Montserrat', sans-serif;
    position: absolute;
    top: 65%;
    left: 25%;
    overflow: hidden;
    z-index: 11;
  }
  div#info-uno {
    display: none;
  }
  div#iconsInfo #info-uno p:nth-child(2){
   font-size: 30px;
   font-weight: 900;
  }
  div#iconsInfo #info-uno p:nth-child(3){
    font-size: 10px;
    font-weight: 900;
   }

   div#info-dos {
    display: none;
    font-size: 10px;
    overflow: hidden;
  }
  div#iconsInfo .container-items {
    width: 33.3333%;
    height: auto;
    float:left;
    padding: 0 15px 0 0;
   }
  div#iconsInfo #info-dos img {
    width: 80px;
    float: left;
   }
   div#iconsInfo #info-dos p {
    float: left;
   }

   div#info-tres {
    display: none;
    overflow: hidden;
  }

  div#info-tres img {
    float:left;
    width: 160px;
    height: auto;
    margin: 0 -3% 0 0;
    cursor: pointer;
  }
  div#info-tres img:hover {
    transform: rotate(10deg);
  }
  div#info-tres img:nth-child(4) {
    float:left;
    width: 160px;
    height: auto;
    margin: 0 0 0 7%;
  }

  #car-dos {
    display: none;
  }
  #car-tres {
    display: none;
  }
  #car-cuatro {
    display: none;
  }

  .leyenda {
    position: fixed;
    bottom:0%;
    right: 0%;
    font-size: 8px;
    padding: 0 0 2% 10%;
    color: white;
    z-index: 12;
  }

  .privacidad-note {
    position: fixed;
    bottom: 2%;
    left: 0%;
    font-size: 12px;
    padding: 0 75px;
    color: white;
    cursor: pointer;
  }
  .popUp {
    position: fixed;
    z-index: 12;
    top:0;
    left: 0;
    bottom: 0;
    width: 30%;
    height: auto;
    background: rgb(235,235,235);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(196,188,196,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(196,188,196,1);
    box-shadow: 2px 2px 5px 0px rgba(196,188,196,1);
  }
  div.close-popup {
    float: right;
    width: 10%;
    padding: 10% 0;
    transform: rotate(270deg);
    color: rgba(140,138,138, 1);
    cursor: pointer;
    font-size:15px;
  }

  /*Video*/
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 8;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 5;
  }

  .title-video h2 {
    padding: 10% 5%;
    font-size: 50px;
    font-weight: 900;
  }

  .title-seguridad h2 {
    padding: 5% 0 0;
    font-size: 50px;
    font-weight: 900;
  }
  .title-seguridad p {
    line-height: 1.6;
  }
  .cumple-description {
    text-align: center;
    font-size: 12px;
    margin: -8% 0 0;
  }
  .titleCumple {
    color:white;
    position: absolute;
    top:15%;
    left: 22%;
    font-size: 60px;
  }
  .videoCumple {
    position: absolute;
    top:27%;
    left: 53%;
    width: 35%;
    height: 30%;
  }
  #divPopup {
    text-align: justify;
    font-size:11px;
    overflow: scroll;
  }
  #divPopup h2 {
    text-align: center;
  }
  #divPopup p {
    padding: 5%;
    background: white;
  }
  /*
==============================================
Animaciones
==============================================
*/


.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*
==============================================
pullUp
==============================================
*/

.pullUp {
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}

@keyframes pullUp {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
slideUp
==============================================
*/


.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

/*

/*
==============================================
floating
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

/*
==============================================
stretchLeft
==============================================
*/

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

/*
==============================================
stretchRight
==============================================
*/

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}
/*
==============================================
pullDown
==============================================
*/

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 2.1s;	
	-webkit-animation-duration: 2.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideCar
==============================================
*/


.slideCar {	
	animation-name: slideCar;
	-webkit-animation-name: slideCar;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;	

	visibility: visible !important;	
}

@keyframes slideCar {
	0% {
		transform: translateX(-150%);
		opacity: 1;	
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
		opacity: 1;
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
		opacity: 1;	
	}	
}

@-webkit-keyframes slideCar {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideCar301
==============================================
*/


.slideCar301 {	
	animation-name: slideCar301;
	-webkit-animation-name: slideCar301;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;	

	visibility: visible !important;	
}

@keyframes slideCar301 {
	0% {
		opacity: 0.0;	
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(6%);
	}
	80%{
		transform: translateX(4%);
		opacity: 1;
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
		opacity: 1;	
	}	
}

@-webkit-keyframes slideCar301 {
	0% {
		opacity: 0.0;
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
